*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#home{
    width: 100vw;
    height: 100vh;
    background: url(1002220.jpg) no-repeat ;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.navbar{
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    color: #fff;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;


}

.navbar li{
    list-style-type: none;
}

.navbar a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    transition: .3s ease-in-out;

}

#active{
    text-decoration: underline 3px red;
}

.navbar h1{
    font-size: 35px;
    cursor: pointer;
}

.navbar a:hover{
    text-decoration: underline 3px red;
}

.main-text{
    width: 80vw;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border:1px solid white;
    flex-direction: column;
}

.main-text h1 , h2 , h3{
    color: #fff;
    letter-spacing: 5px;
    font-size: 40px;
    opacity: 80%;
}

.span{
    color: red;

}

.main-text button{
    width: 200px;
    height: 50px;
    margin:  20px 0;
    border-radius: 5px;
    border: none;
    background-color: #3B87EB;
    color: #333;
    font-size: 20px;
    box-shadow: 0 0 10px 1px #3B87EB ;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.main-text button:hover{
    box-shadow: 0 0 15px 5px #3B87EB ;
}



/* ABOUT SECTION BOSHLANDI */


#about{
    width: 100vw;
    height: 100vh;
    background-color: #0b122e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.about-txt{
    width: 80vw;
    height: 80vh;
    display: flex;
    
}

.color{
    color: red;
}

#about h1{
    color: #fff;
    opacity: 80%    ;
    font-size: 35px;
}

.img {

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anim img{
    width: 400px;
    height: 400px;
    transition: .3s ease-in-out;
}
.anim{
    width: 400px;
    height: 400px;
    border-radius: 21px;
    overflow: hidden;
    
}

.anim img:hover{
    transform: scale(1.1);
}

.text{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text div{
    width: 60%;
    color: #fff;
    opacity: 80%;
    font-weight: 300;
    text-align: justify;
}

.span2{
    font-size: 30px;
    color: red;
    font-weight: 600;
}


